# Terraform
.terraform/
*.tfstate
*.tfstate.backup
tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
.terraform.lock.hcl

# Node.js
app/node_modules/
npm-debug.log
yarn-error.log

# Local artifacts
.DS_Store
.env
